{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "space-before-function-paren": 0,
    "no-unused-vars": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Dialog": true,
    "Validate": true,
    "LightTip": true
  }
}
