<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>随笔</title>
    <link
      rel="stylesheet"
      href="/public/lib/markdown/cherry-markdown.min.css"
    />
    <link rel="stylesheet" href="/public/lib/lulu/ui.min.css" />
    <script src="/public/lib/markdown/cherry-markdown.min.js" defer></script>
    <script src="/public/lib/axios/axios.min.js" defer></script>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
      }
      body {
        position: relative;
      }
      .btns {
        position: absolute;
        right: 15px;
        top: 9px;
        display: none;
        z-index: 9;
      }

      .btns .ui-button {
        height: 30px;
        line-height: 30px;
        padding: 0;
      }

      .btns .box {
        font-size: 12px;
        color: #666;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div class="btns" id="btns">
      <!-- <input type="checkbox" id="box" name="show" />
      <label for="box" class="ui-checkbox"></label>
      <label for="box" class="box">在导航栏显示</label> -->
      <button class="ui-button" data-status="draft">存草稿</button>
      <button class="ui-button" data-type="primary" data-status="pushed">
        发布
      </button>
    </div>
    <div id="editor"></div>

    <script>
      window.addEventListener('DOMContentLoaded', function () {
        var callbacks = {
          afterInit: function () {
            var btns = document.querySelector('#btns');
            var params = new URLSearchParams(document.location.search);
            var postId = params && params.get('id')
            btns.style.display = 'block';
            btns.addEventListener('click', function (event) {
              var status = event.target.getAttribute('data-status');
              var content = window.editor.getMarkdown();
              // setMarkdown
              if (status && content) {
                axios
                  .post('/api/post', {
                    id: postId || '',
                    content: content,
                    status: status,
                    title: 'title hahah',
                  })
                  .then(function (data) {
                    console.log(data);
                    window.location.href = postId ?  '/post?id=' + postId : '/'
                    // new LightTip().success('操作完成');
                  })
                  .catch(function () {
                    new LightTip().error('操作失败');
                  });
                // console.log(target, window.editor.getMarkdown());
              }
            });
            if (postId) {
              // console.log(params.get('id'))
              axios
                .get('/api/post?id=' + postId)
                .then(function (data) {
                  console.log(data);
                  editor.setMarkdown(data.data.data.content);
                })
                .catch(function (error) {
                  new LightTip().error('内容获取失败');
                });
            }
          },
          fileUpload: function (file, callback) {
            // console.log(file, callback)
            var formData = new FormData();
            formData.append('uploadFile', file);
            axios
              .post('/api/upload', formData, {
                headers: {
                  'Content-Type': 'multipart/form-data',
                },
              })
              .then(function (data) {
                // console.log(data);
                var url = data.data.data.uploadFile + '?q60';
                callback(url);
              });
          },
        };
        window.editor = new Cherry({
          id: 'editor',
          value: '',
          editor: {
            height: '100vh',
          },
          fileUpload: callbacks.fileUpload,
          toolbars: {
            theme: 'light',
          },
          callback: {
            afterInit: callbacks.afterInit,
          },
        });
      });
    </script>
  </body>
</html>
