<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>随笔一下</title>
    <link
      rel="stylesheet"
      href="/public/lib/markdown/cherry-markdown.min.css"
    />
    <link rel="stylesheet" href="/public/lib/lulu/ui.min.css" />
    <script src="/public/lib/markdown/cherry-markdown.min.js" defer></script>
    <script src="/public/lib/axios/axios.min.js" defer></script>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
      }
      body {
        position: relative;
      }
      .btns {
        position: absolute;
        display: flex;
        right: 15px;
        top: 9px;
        display: none;
        z-index: 9;
      }

      .btns .ui-button {
        height: 30px;
        line-height: 30px;
        padding: 0;
      }

      .btns .box {
        font-size: 14px;
        color: #666;
        margin-right: 10px;
      }
      .btns .ui-checkbox + label {
        margin-left: 0;
      }
    </style>
  </head>
  <body>
    <div class="btns" id="btns">
        <input type="checkbox" id="isTop" name="isTop" />
        <label for="isTop" class="ui-checkbox"></label>
        <label for="isTop" class="box">置顶</label>
        <input type="checkbox" id="isShow" name="isShow" />
        <label for="isShow" class="ui-checkbox"></label>
        <label for="isShow" class="box">在导航栏显示</label>
        <button class="ui-button" data-status="draft">存草稿</button>
        <button class="ui-button" data-type="primary" data-status="pushed">
        发布
      </button>
    </div>
    <div id="editor"></div>

    <script>
      window.addEventListener('DOMContentLoaded', function () {
        var params = new URLSearchParams(document.location.search);
        var postId = (params && params.get('id')) || '';
        var isTop = document.querySelector('#isTop')
          var isShow = document.querySelector('#isShow')
        var saveArticle = function (status, cb) {
          var content = window.editor.getMarkdown();
          var title = window.editor.getToc();
          
          title = title.length ? window.decodeURIComponent(title[0].id) : '匿名随笔';
          console.log(title)
          if (!content || !title) return false;
          axios
            .post('/api/post', {
              id: postId,
              content: content,
              status: status,
              title: title,
              isTop: isTop.checked,
              isShow: isShow.checked
            })
            .then(function (data) {
              if (data.data.success === false) {
                return new LightTip().error('操作失败');
              }
              // 发布的文章id
              if (data.data.data.id) {
                postId = data.data.data.id;
              }
              cb && cb();
            })
            .catch(function () {
              new LightTip().error('操作失败');
            });
        };

        var autoSave = function (clear) {
          var timer = null;
          if (clear) {
            clearInterval(timer);
          } else {
            timer = setInterval(function () {
              saveArticle('draft', function () {
                if (postId) {
                  window.history.replaceState(
                    null,
                    null,
                    '/editor?id=' + postId
                  );
                }
              });
            }, 10000);
          }
        };
        var callbacks = {
          afterInit: function () {
            var btns = document.querySelector('#btns');
            btns.style.display = 'block';
            autoSave();
            btns.addEventListener('click', function (event) {
              var status = event.target.getAttribute('data-status');
              // 发布成功后跳转到详情
              if (status) {
                saveArticle(status, function () {
                  autoSave(true);
                  window.location.href = postId ? '/post?id=' + postId : '/';
                });
              }
            });
            // 数据初始化
            if (postId) {
              axios
                .get('/api/post?id=' + postId)
                .then(function (data) {
                  if (data.data.success === false) {
                    return new LightTip().error('内容获取失败');
                  }
                  var val = data.data.data
                  editor.setMarkdown(val.content);
                  isTop.checked = val.isTop
                  isShow.checked = val.isShow
                })
                .catch(function (error) {
                  new LightTip().error('内容获取失败');
                });
            }
          },
          fileUpload: function (file, callback) {
            var formData = new FormData();
            formData.append('uploadFile', file);
            axios
              .post('/api/upload', formData, {
                headers: {
                  'Content-Type': 'multipart/form-data',
                },
              })
              .then(function (data) {
                var url = data.data.data.uploadFile + '?q60';
                callback(url);
              });
          },
        };
        window.editor = new Cherry({
          id: 'editor',
          value: '',
          editor: {
            height: '100vh',
          },
          fileUpload: callbacks.fileUpload,
          toolbars: {
            theme: 'light',
          },
          callback: {
            afterInit: callbacks.afterInit,
          },
        });
      });
    </script>
  </body>
</html>
