<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ppx</title>
    <%- include('./style.ejs') -%>
  </head>
  <body>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #eee;
      }
      .header {
        box-sizing: border-box;
        max-width: 960px;
        padding: 0 10px;
        margin: 50px auto 20px;
      }
      .container {
        box-sizing: border-box;
        font-size: 14px;
        margin: 0 auto 30px;
        max-width: 960px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
      }
      .nickname {
        font-size: 26px;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
      }
      .nav ul {
        display: flex;
        padding: 0;
        list-style-type: none;
      }
      .nav .search input {
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        border-radius: 0;
        padding: 0;
        height: 30px;
      }
      .nav-item {
        padding: 0 10px;
      }
      .main {
        padding-left: 10px;
        padding-right: 10px;
      }

      .footer {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #999;
        opacity: 0.8;
      }
    </style>
    <header class="header">
      <div class="nickname">胖胖熊博客</div>
    </header>
    <div class="container">
      <nav class="nav">
        <ul>
          <li><a href="/" class="nav-item">首页</a></li>
          <li><a href="/" class="nav-item">留言板</a></li>
          <li><a href="/editor" class="nav-item">新随笔</a></li>
        </ul>

        <div class="search">
          <input type="search" class="ui-input" placeholder="搜索" autofocus />
        </div>
      </nav>
      <main class="main">
        <% if(router === 'home') {%>
          <%- include('./list.ejs', { data }) -%>
        <%} else if(router === 'post') {%>
          <%- include('./post.ejs', { data }) -%>
        <%} else {%>
          
        <%}%>
      </main>
    </div>
    <footer class="footer">
      <span class="icp"
        >ICP备案14000000-1 Powered by
        <a href="https://github.wmui/essay" target="_blank">Essay</a></span
      >
    </footer>
    <%- include('./script.ejs') -%>
  </body>
</html>
