<style>
  .list ul {
    padding: 0;
    list-style-type: none;
  }
  .list li {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
  }
  .list .hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 8px;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    flex: 1;
  }
  .list .date {
    font-size: 12px;
    color: #999;
  }
  .page {
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }
  .page .ui-page-x {
    display: flex;
    border-radius: 3px;
  }
  .page .ui-page {
    min-width: 24px;
    border-radius: 3px;
  }
  .page a.ui-page:hover {
    border-color: transparent;
    background-color: #eee;
  }
</style>
<div class="list">
  <ul>
    <% for(var i = 0; i < data.length; i++){ %>
    <li>
      <a href="/post?id=<%=data[i].id%>">
        <% if(data[i].isTop) {%>
          <span class="red">[置顶]</span>
          <%}%>
        <%= data[i].title %>
      </a>
      <hr class="hr" />
      <time class="date"><%= helper.formatDate(data[i].createdAt) %></time>
    </li>
    <%}%>
  </ul>
  <% if(total) {%>
  <div id="page" class="page" data-total="<%= total %>"></div>
  <%}%>
</div>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    var params = new URLSearchParams(document.location.search)
    var page = document.querySelector('#page')
    var pageId = (params && params.get('page')) || 1
    new Pagination(page, {
      total: page ? page.getAttribute('data-total') : 0,
      per: 15,
      mode: 'short',
      current: pageId,
      href(current) {
        return '?page=' + current;
      },
    });
  });
</script>
