@import './var.scss';
html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
  font-size: 15px;
  color: #333;
  background-color: $Bg;
}

ul,
ol,
dl {
  list-style-type: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  color: $Link;
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    outline: none;
  }
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.container {
  max-width: 1120px;
}

input {
  height: 35px;
  text-indent: 1em;
  border-radius: 5px;
  border: 1px solid $Border;
  display: inline-block;
  &:focus {
    outline: none;
  }
}

button {
  padding: 8px 15px !important;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active {
  opacity: 0
}

/* admin template layout */



.article {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    td,
    th {
      padding: 10px 15px;
      text-align: left;
    }
    thead tr {
      background-color: $Border;
    }
    tbody tr {
      border-bottom: 1px solid $Border;
      a {
        cursor: pointer;
      }
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 70%;
    }
    .draft {
      color: red;
    }
  }
}



.edit {
  text-align: center;
  padding-top: 50px;
  .avatar {
    padding: 30px;
    cursor: pointer;
    .img {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100px;
        height: 100px;
        display: block;
      }
      span {
        width: 100px;
        background-color: rgba(0, 0, 0, .3);
        display: block;
        position: absolute;
        bottom: 0;
        font-size: 12px;
        color: #FFF;
        padding: 8px 0;
      }
    }
  }
  .my-input {
    padding-bottom: 30px;
    input {
      width: 400px;
    }
  }
  button[type="button"] {
    color: #FFF;
    background-color: $BlackPrimary;
  }
}






/* @media screen*/

@media only screen and(max-width: 768px) {
  .search {
    display: none;
  }
  .aside {
    display: none;
  }
  .footer {
    border-top: 1px solid $Border;
    color: #C8C9CA;
    margin: auto;
    .copy {
      text-align: center;
      height: 70px;
      display: block;
      font-size: 12px;
      padding: 18px;
      .licensed {
        margin-bottom: 10px;
      }
    }
  }
}

// 编辑器
.v-note-wrapper {
  min-height: 400px !important;
}