$link:#337AB7;
$bgc:#F1F1F1;
$border:#E4E4E4;
$disabledLink:#666;
$navBgc:#33363B;
$navColor:#C8C9CA;
$navBorder:#3D4045;
$asideBgc:#f8f8f8;
$headerBgc:#26272B;
html,
body {
  height: 100%;
  width: 100%;
  background-color: $bgc;
}

#app {
  height: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.article,
.list {
  .container {
    overflow: hidden;
    margin-bottom: 30px;
  }
}

.header {
  height: 250px;
  background-color: $headerBgc;
  padding-top: 70px;
  .intro {
    max-width: 1120px;
    margin: 20px auto;
    padding: 0 15px;
    color: #fff;
    position: relative;
    .myNickname {
      font-size: 30px;
    }
    .myIntro {
      font-size: 20px;
      margin-left: 10%;
    }
  }
  .nav {
    max-width: 1120px;
    margin: 0 auto;
    height: 60px;
    background-color: $navBgc;
    // border: 1px solid $navBorder;
    .logo {
      float: left;
      height: 36px;
      margin: 14px 15px 0;
      width: 36px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
    }
    li {
      display: inline-block;
      float: left;
      a {
        display: inline-block;
        padding: 18px 15px;
        color: $navColor;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    input[type="text"] {
      float: right;
      display: inline-block;
      width: 300px;
      border-radius: 4px;
      margin: 10px 15px;
      background-color: $headerBgc;
      border: 1px solid $headerBgc;
      color: $navColor;
      height: 40px;
      line-height: 40px;
      text-indent: 1em;
    }
  }
}

.v {
  position: relative;
  top: -7px;
  display: inline-block;
  width: 14px;
  &::before {
    transform: skew(18deg, 0);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 20px;
    border-left: solid 5px $navBgc;
  }
  &::after {
    transform: skew(-18deg, 0);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 20px;
    border-left: solid 5px $navBgc;
  }
}

.aside {
  float: right;
  width: 340px;
  height: auto !important;
  background-color: $asideBgc;
  padding: 15px 15px 9999px;
  margin-bottom: -9999px;
  overflow: hidden;
  .tags,
  .archives {
    .icon-iconfontyouhuiquan,
    .icon-wodedangan,
    .title {
      font-size: 20px;
      font-style: bold;
      padding-bottom: 5px;
      margin-right: 10px;
    }
    .title {
      border-bottom: 1px solid $border;
    }
    .list {
      li {
        padding: 10px 0;
      }
      li + li {
        border-top: 1px dashed $border;
      }
      a {
        display: inline-block;
        font-size: 18px;
      }
    }
  }
}

.article-list {
  margin-right: 340px;
  background-color: #fff;
  padding: 10px 15px 9999px;
  margin-bottom: -9999px;
  height: auto !important;
  .items {
    .item {
      position: relative;
    }
    .item + .item {
      border-top: 1px dashed $border;
    }
    .title {
      font-size: 18px;
      margin: 10px auto;
      display: inline-block;
    }
    .content {
      max-height: 100px;
      margin-bottom: 20px;
    }
    .date {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 14px;
    }
  }
}

.page {
  position: relative;
  width: 100%;
  .prev,
  .next {
    width: 50%;
    display: inline-block;
    padding: 20px 0;
  }
  .next {
    text-align: right;
  }
  .prev {
    text-align: left;
  }
  .disabled {
    cursor: not-allowed;
    color: $disabledLink;
    text-decoration: none;
  }
}

.article-list {
  .tips {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    strong {
      color: red;
    }
  }
}

.article-detail {
  margin-right: 340px;
  background-color: #fff;
  padding: 10px 15px 9999px;
  margin-bottom: -9999px;
  height: auto !important;
  .title {
    margin: 20px 0;
    &::after {
      content: '';
      display: block;
      margin-top: 20px;
      border-bottom: 1px dashed $border;
    }
  }
  .content {
    margin-bottom: 20px;
  }
}

.footer {
  height: 100px;
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
  border-top: 1px solid $border;
  color: #C8C9CA;
  .copy {
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
    padding: 40px 0 0;
    .licensed,
    .powered {
      width: 50%;
      display: inline-block;
    }
    .licensed {
      text-align: left;
    }
    .powered {
      text-align: right;
    }
  }
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252A2F;
  .title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 8px;
    margin-top: 100px;
  }
  .form {
    position: relative;
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    border-radius: 4px;
    padding: 40px 0;
    input[type="text"],
    input[type="password"],
    button[type="button"] {
      display: block;
      width: 80%;
      height: 40px;
      line-height: 40px;
      text-indent: 1em;
      margin: 0 auto 20px;
      border-style: none;
      border: 1px solid #eee;
      border-radius: 4px;
    }
    button[type="button"] {
      color: #fff;
      background-color: #252A2F;
      &:hover {
        cursor: pointer;
        background-color: #2C2E31;
      }
    }
    .tips {
      text-align: center;
      font-size: 14px;
      color: #666;
    }
  }
}


/* 管理后台 */

.admin {
  position: relative;
  width: 100%;
  height: 100%;
  .left {
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .menu {
      min-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -17px;
      overflow-y: scroll;
      background-color: $navBgc;
      h3 {
        color: $navColor;
        text-align: center;
        padding: 10px 0;
      }
      li {
        a {
          display: block;
          padding: 10px 20px;
          color: $navColor;
          text-decoration: none;
          &:hover {
            background-color: rgba(0, 0, 0, .1);
          }
        }
      }
      .tag {
        h4 {
          padding: 10px 20px;
          color: $navColor;
          background-color: $headerBgc;
        }
        a {
          padding-left: 30px;
        }
      }
    }
  }
  .content {
    position: relative;
    min-height: 100%;
    margin-left: 180px;
    background-color: #fff;
  }
}

.article {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    thead tr {
      background-color: $border;
      th {
        text-align: left;
      }
    }
    tbody tr {
      border-bottom: 1px solid $border;
    }
    td,
    th {
      padding: 10px 15px;
    }
    td:nth-child(1) {
      width: 70% !important;
    }
    .draft {
      color: red;
    }
  }
}

.essay {
  width: 100%;
  background-color: #fff;
  .form {
    padding: 30px 15px;
    .title {
      input[type="text"] {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 1;
        text-indent: 1em;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
    .tag {
      input[type="text"] {
        float: left;
        width: 400px;
        height: 40px;
        line-height: 1;
        text-indent: 1em;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
    .tags {
      color: #757575;
      padding: 10px 0;
      span {
        display: inline-block;
        margin-left: 10px;
      }
      span:nth-child(1) {
        margin-left: 0;
      }
    }
    .btn {
      float: right;
      width: 200px;
      button:nth-child(1),
      button:nth-child(2) {
        float: right;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid transparent;
      }
      button:nth-child(1) {
        background-color: #24292E;
        margin-left: 20px;
        color: #fff;
      }
    }
  }
}

.edit {
  // position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  .avatar {
    padding: 30px;
    text-align: center;
    .img,
    img {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      z-index: 10;
      border-radius: 50%;
    }
  }
  .my-input {
    padding-bottom: 30px;
    input {
      display: inline-block;
      height: 40px;
      width: 400px;
      border: 1px solid $border;
      border-radius: 4px;
      text-indent: 1em;
    }
  }
  button[type="button"] {
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: $navBgc;
    color: #fff;
  }
}

// 响应式
@media only screen and(max-width: 700px) {
  .search {
    display: none;
  }
  .article-list{
  	margin-right: 0;
  }
  .aside{
  	display: none;
  }
  .article-detail{
  	margin-right: 0;
  }
  .footer {
  	text-align: center;
  	.copy{

  	.licensed,
    .powered {
      width: 100%;
      display: block;
    }
    .licensed {
      text-align: center;
    }
    .powered {
      text-align: center;
    }
  }
  	}
}
