html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style-type: none;
}

body,
th,
td,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  vertical-align: top;
  resize: vertical;
}

body {
  line-height: 1.6;
}

a {
  color: #337AB7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  outline: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: none;
}

:focus {
  outline: none;
}

sub,
sup {
  vertical-align: baseline;
}

button,
input[type="button"],
input[type="submit"] {
  line-height: normal !important;
}

img {
  border: 0;
  vertical-align: middle;
}


/*HTML5 reset*/

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
  display: block;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

hr {
  border: 0;
  height: 1px;
  background-color: #E7E7E7;
}
